{% extends 'admin_nav.html' %}
{% block title %} user chnage password {% endblock %}
{% block CSS%}

{%endblock%}
{%block body%}

<div class="container mt-2">
    <marquee  style="font-family: 'Monotype Corsiva'; color:black; background-color: blueviolet" direction="">  Recruiter Change password</marquee>

    <form method = "post" action = "/change_pass_recruiter/">{% csrf_token %}
        
            <div class="form-group my-4">
          <label for="password1">current password</label>
          <input type="password" class="form-control" id="pass1"  name="pass1" placeholder="Enter Your Current password">
        </div>
        <div class="form-group my-4">
            <label for="password2"> New password</label>
            <input type="password" class="form-control" id="pass2"  name="pass2" placeholder="Enter Your New password">
          </div>
          <div class="form-group my-4">
            <label for="password3"> Confirm password</label>
            <input type="password" class="form-control" id="pass3"  name="pass3" placeholder="Enter Your Confirm password">
          </div>
        <button type="submit" class="btn btn-success">Submit</button>


        <form>
</div>
{%endblock%}
{% block JS %} 
<script>
 
//{% if msg|length != 0 and msg == "yes" %}
   //alert("successfully logged in");
  //  window.location.href= '/admin_home'
   // {% else %}
   //alert("not successfully logged in");
   // {%endif%}
</script>
{% endblock %}